[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "BillionAndFirstString/googletest"]
	path = BillionAndFirstString/googletest
	url = https://github.com/google/googletest
