[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "BillionAndFirstString/googletest"]
	path = BillionAndFirstString/googletest
	url = https://github.com/google/googletest
[submodule "micro_vector/googletest"]
	path = micro_vector/googletest
	url = https://github.com/google/googletest
[submodule "hidra/googletest"]
	path = hidra/googletest
	url = https://github.com/google/googletest
[submodule "clbrod/SFML"]
	path = clbrod/SFML
	url = https://github.com/SFML/SFML
[submodule "clbrod/OpenCL-CLHPP"]
	path = clbrod/OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
[submodule "hidra/OpenCL-CLHPP"]
	path = hidra/OpenCL-CLHPP
	url = https://github.com/KhronosGroup/OpenCL-CLHPP
