[submodule "googletest"]
	path = googletest
	url = https://github.com/google/googletest
[submodule "BillionAndFirstString/googletest"]
	path = BillionAndFirstString/googletest
	url = https://github.com/google/googletest
[submodule "micro_vector/googletest"]
	path = micro_vector/googletest
	url = https://github.com/google/googletest
[submodule "hidra/googletest"]
	path = hidra/googletest
	url = https://github.com/google/googletest
