CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
MxLib/main
MxLib/build/MxLib
MxLib/build
*.o
*.out
WrapperCL/books/37490743.pdf
WrapperCL/books/opencl30-reference-guide.pdf
WrapperCL/books/OpenCL_API.pdf
WrapperCL/books/OpenCL_C.pdf
